<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, dolorem. Adipisci quod cumque velit dolores pariatur, veritatis amet harum necessitatibus reprehenderit tempore numquam accusamus aliquam alias quibusdam rem dolorem quo!</p>
    <br><br>
    <hr>
    <div>
        <a href="/sessions">Sessions</a>
    </div>
    <br>
    <div>
        <a href="/destroy">Destroy Session</a>
    </div>
    <div>
        <a href="/test">Goto test router</a>
        <p>Coming from router <%= router  %> </p>
    </div>
    
</body>
</html>