<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Go Back Home</a>
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quo laborum ipsa officia perferendis error voluptates reiciendis consequatur aperiam cupiditate laboriosam atque fugiat porro, similique praesentium maiores veniam deleniti vero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quo laborum ipsa officia perferendis error voluptates reiciendis consequatur aperiam cupiditate laboriosam atque fugiat porro, similique praesentium maiores veniam deleniti vero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quo laborum ipsa officia perferendis error voluptates reiciendis consequatur aperiam cupiditate laboriosam atque fugiat porro, similique praesentium maiores veniam deleniti vero.</p>
    <br><br>
    <hr>
    <p><%= router_session  %> </p>
</body>
</html>